*.log
*.vsix


.venv/
.vscode-test/

client/node_modules
client/out
client/server

server/node_modules
server/out/*
!server/out/*.yml

external
node_modules
scripts/__pycache__/
syntaxes_to_json.sh.err
tmp
