*.log
*.vsix
**/__pycache__/**

.mypy_cache/
.venv/
.vscode-test/

client/node_modules
client/out
client/server

server/node_modules
server/out/*
!server/out/completion.*.json
!server/out/hover.*.json
!server/out/signature.*.json

preview/node_modules/
preview/out/*
!preview/out/index.html
!preview/out/index.css

external
node_modules
syntaxes_to_json.sh.err
tmp
