syntaxes/*.*
themes/*.*
*.log
*.vsix

.vscode-test/

client/node_modules
client/out

server/node_modules
server/out/*

external
node_modules
tmp

language-configurations/*.json
server/data/*.yml

# written by pnpm only
**/pnpm-lock.yaml
