syntaxes/*.*
themes/*.*
*.log
*.vsix
**/__pycache__/**
.mypy_cache/**

.venv/
.vscode-test/

client/node_modules
client/out

server/node_modules
server/out/*

preview/out

external
node_modules
syntaxes_to_json.sh.err
tmp

language-configurations/*.json
server/data/*.yml

# written by pnpm only
**/pnpm-lock.yaml
