**/*.ts
**/tsconfig.json
**/tsconfig.base.json

.github/**
.gitignore
.venv/**
.vscode/**
.vscode-test/**

client/**
!client/package.json
!client/out/extension.js

server/**
!server/package.json
!server/out/server.js
!server/out/*.yml

docs/**
scripts/**
syntaxes/*.yml
themes/vscode-monokai.json
themes/vs-seti-icon-theme.json

README.md
