**/*

!client/package.json
!client/out/extension.js

!LICENSE.txt
!resources/bgforge.png

!server/package.json
!server/out/server.js
!server/out/completion.*.json
!server/out/hover.*.json
!server/out/signature.*.json

!preview/package.json
!preview/out/index.html
!preview/out/index.css
!preview/out/index.js

!language-configurations/*.json
!snippets/*.json
!syntaxes/*.json

!themes/bgforge-icon-theme.json
!themes/bgforge-monokai.json
!themes/seti.woff
!themes/icons/*.png
!themes/icons/*.svg
